/.vs/Test1/v15/Server/sqlite3/storage.ide-shm
/Test1/obj/Debug/netcoreapp2.0/Test1.assets.cache
/Test1/obj/Debug/netcoreapp2.0/Test1.csproj.CoreCompileInputs.cache
/Test1/obj/Test1.csproj.nuget.cache
/Test1/obj/Test1.csproj.nuget.g.props
/Test1/obj/project.assets.json
/.vs/Test1/v15/Server/sqlite3/db.lock
/Test1/obj/Debug/netcoreapp2.0/Test1.csprojAssemblyReference.cache
